[paths]
source =
    src
    /Users/runner/work/uv-secure/uv-secure/src
    /home/runner/work/uv-secure/uv-secure/src
    C:/a/uv-secure/uv-secure/src
    D:/a/uv-secure/uv-secure/src
tests =
    tests
    /Users/runner/work/uv-secure/uv-secure/tests
    /home/runner/work/uv-secure/uv-secure/tests
    C:/a/uv-secure/uv-secure/tests
    D:/a/uv-secure/uv-secure/tests
