# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.2
    hooks:
     - id: nbstripout
       args: [--drop-empty-cells]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: destroyed-symlinks
      - id: check-illegal-windows-names
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: check-added-large-files
        exclude: '(^|/)uv\.lock$'
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: pretty-format-json
        args: [--autofix]
        exclude: '\.ipynb$'
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: name-tests-test
        args: [--pytest-test-first]
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        pass_filenames: false
  - repo: local
    hooks:
      - id: ty
        name: ty
        language: system
        entry: ty check . --error-on-warning
        pass_filenames: false
        types: [python]
  - repo: https://github.com/rvben/rumdl-pre-commit
    rev: v0.0.208
    hooks:
      - id: rumdl
        args: [--fix]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
        types_or: [python, pyi, jupyter]
      - id: ruff-format
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/adhtruong/mirrors-typos
    rev: v1.41.0
    hooks:
      - id: typos
        args: [
          --force-exclude,
          # --write-changes (Don't use this to stop typos making auto-corrections)
        ]
  - repo: https://github.com/owenlamont/uv-secure
    rev: 0.15.4
    hooks:
      - id: uv-secure
        additional_dependencies:
          # Remove once this PR is deployed
          - sniffio>=1.3.1
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.19.0
    hooks:
    - id: zizmor
      args: [ --min-severity, low, --min-confidence, medium, --fix=safe]
