name: Pre-commit checks
on:
  pull_request:
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244
      - name: Install the project
        run: uv sync
      - name: Install pre-commit globally
        run: uv tool install prek
      - name: Run pre-commit hooks
        env:
          SKIP: no-commit-to-branch  # Skip the main branch protection hook in CI
        run: prek run --all-files
