name: Release

on:
  push:
    tags:
      # Publish on any tag that looks like a semantic version e.g. 1.2.3
      - '*.*.*'

jobs:
  pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    environment:
      name: release
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244
      - run: uv build
      - name: Smoke test (wheel)
        run: uv run --isolated --no-project -p 3.10 --with dist/*.whl tests/test_smoke.py
      - name: Smoke test (source distribution)
        run: uv run --isolated --no-project -p 3.10 --with dist/*.tar.gz tests/test_smoke.py
      - run: uv publish --trusted-publishing always
