name: Update Linters
on:
  schedule:
    - cron: '30 8 * * 6'  # Saturday 18:00 UTC+9:30
  workflow_dispatch:

jobs:
  refresh-pre-commit-config:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244
      - name: Install pre-commit globally
        run: uv tool install pre-commit --with pre-commit-uv --force
      - name: Run pre-commit autoupdate
        run: pre-commit autoupdate
      - name: Check for changes in .pre-commit-config.yaml
        id: check_diff
        run: |
          if git diff --quiet .pre-commit-config.yaml; then
            echo "changed=false" >> $GITHUB_OUTPUT
          else
            echo "changed=true" >> $GITHUB_OUTPUT
          fi
      - name: Generate token
        if: steps.check_diff.outputs.changed == 'true'
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94
        id: generate-token
        with:
          app-id: ${{ secrets.AUTH_APP_CLIENT_ID }}
          private-key: ${{ secrets.AUTH_APP_PRIVATE_KEY }}
      - name: Create PR with updated .pre-commit-config.yaml
        if: steps.check_diff.outputs.changed == 'true'
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: "chore: refresh .pre-commit-config.yaml"
          title: "chore: refresh .pre-commit-config.yaml"
          body: |
            This PR updates `.pre-commit-config.yaml` by running `pre-commit autoupdate`.
            It was triggered automatically (or manually) to keep linters up-to-date.
          branch: bot/pre-commit-config-refresh
          author: GitHub Actions <actions@github.com>
          delete-branch: true
